@import url("./__image/element__image.css");
@import url("./__body/element__body.css");
@import url("./__figcaption/element__figcaption.css");
@import url("./__like-button/element__like-button.css");
@import url("./__delete-button/element__delete-button.css");
@import url("./__like-button/_active/element__like-button_active.css");
@import url("./__like-group/__like-group.css");
@import url("./__like-count/__like-count.css");
@import url("./__delete-button/_hidden/element__delete-button_hidden.css");

.element {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}