@import url("./__logo/header__logo.css");
@import url("./__burger-wrapper/header__burger-wrapper.css");
@import url("./__burger/header__burger.css");
@import url("./__email/header__email.css");
@import url("./__link/header__link.css");
@import url("./__right-block/header__right-block.css");
@import url("./__sign-out/header__sign-out.css");

.header {
    margin: 0 auto 77px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 697px) {
    .header {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
}

.header::after {
    content: "";
    position: relative;
    display: block;
    left: 0;
    bottom: -41px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    width: 100%;
    max-width: 882px;
}

@media screen and (max-width: 882px) {
    .header::after {
        width: 100vw;
        /* left: -19px; */
        
    } 
}


