.header__burger-wrapper {
    position: absolute;
    right: 40px;
    bottom: 30px;
    margin: 0;
    padding: 0;
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 680px) {
    .header__burger-wrapper {
        display: flex;
    }
}
