.section__profile {
    margin-bottom: 50px;
    display: grid;
    gap: 0 30px;
    grid-gap: 0 30px;
    grid-template-columns: repeat(2, minmax(min-content, max-content)) 1fr;
    align-items: center;
}
@media screen and (max-width: 697px) {
    .section__profile {
        grid-template-columns: 1fr;
        margin-bottom: 36px;
    }
}
